body {
  min-height: 2000px;
  padding-top: 70px;
}

.dygraph {
  margin: 20px;
  min-height: 320px;
  right: 25px; /* ugly hack, FIXME! button(s) overlaps w/ graph area */
  position: relative;
}

.loading {
  opacity: 0.25;
}

button:focus {
  outline: none;
}
