.dygraph {
  margin: 20px;
  min-height: 320px;
  position: relative;
  right: 25px; /* ugly hack, FIXME! button(s) overlaps w/ graph area */
}

.loading {
  opacity: 0.25;
}

button:focus {
  outline: none;
}

.lg-center {
  position: absolute;
  top: 40%;
  width: 100%;
}
